<a href="https://colab.research.google.com/github/suzy-hur/IOD_lab_work/blob/main/Data_Wrangling_Munging_Pandas_Lab_2_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [1]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [2]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.22.4
Pandas:  1.5.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [3]:
# wrong:
bikes = pd.read_table('bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...

  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...

  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

ANSWER:

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [5]:
#ANSWER:

import pandas as pd

# Load the CSV file into a DataFrame
bikes = pd.read_csv('bikeshare.csv')

# Confirm that the file was loaded properly
print(bikes.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

* read_table() is necessary in certain situations when reading data files with pandas
* It's used when the data file is delimited by a character other than a comma (,)
* By default, read_table() assumes the delimiter is a tab (\t)
* We can specify a different delimiter using the sep parameter.
read_table() is useful when dealing with non-standard delimiters like semicolons or pipes
* It can also handle whitespace-separated values by considering consecutive whitespace as a delimiter
* Additionally, read_table() can handle files with fixed-width columns using the colspecs parameter
* However, for most cases of reading CSV files, read_csv() is sufficient and more commonly used
* read_csv() assumes the delimiter is a comma by default
* It is the preferred method when working with standard CSV files that use commas as delimiters

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [6]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [9]:
df = pd.read_excel('Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

In [11]:
df.columns

Index(['Species_No', 'Petal_width', 'Petal_length', 'Sepal_width',
       'Sepal_length', 'Species_name'],
      dtype='object')

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [ ]:
#ANSWER

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [16]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

Empty DataFrame
Columns: [time, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, updated, place, type, horizontalError, depthError, magError, magNst, status, locationSource, magSource]
Index: []

[0 rows x 22 columns]

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [17]:
url = 'https://www.ccra.com/airport-codes/'

df = pd.read_html(url)
df

[                City      Country Code
 0            Aalborg      Denmark  AAL
 1           Aalesund       Norway  AES
 2             Aarhus      Denmark  AAR
 3     Abbotsford, BC       Canada  YXX
 4     Abbotsford, BC       Canada  YXX
 ...              ...          ...  ...
 1574        Zanzibar     Tanzania  ZNZ
 1575        Zaragoza        Spain  ZAZ
 1576       Zhengzhou        China  CGO
 1577        Zhoushan        China  HSN
 1578          Zurich  Switzerland  ZRH

 [1579 rows x 3 columns]]

In [18]:
df[0]

                City      Country Code
0            Aalborg      Denmark  AAL
1           Aalesund       Norway  AES
2             Aarhus      Denmark  AAR
3     Abbotsford, BC       Canada  YXX
4     Abbotsford, BC       Canada  YXX
...              ...          ...  ...
1574        Zanzibar     Tanzania  ZNZ
1575        Zaragoza        Spain  ZAZ
1576       Zhengzhou        China  CGO
1577        Zhoushan        China  HSN
1578          Zurich  Switzerland  ZRH

[1579 rows x 3 columns]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [19]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [20]:
#ANSWER
bikes.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [31]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [22]:
num_rows = bikes.shape[0]
print("Number of rows:", num_rows)

Number of rows: 17379

In [23]:
num_columns = bikes.shape[1]
print("Number of columns:", num_columns)

Number of columns: 17

What are the column names in `bikes`?

In [25]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [29]:
#ANSWER
print(bikes.dtypes)

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [30]:
#ANSWER
print(bikes.index)

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [32]:
#ANSWER
bikes['season']

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [33]:
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [35]:
#ANSWER
bikes.atemp[:5]

0    0.2879
1    0.2727
2    0.2727
3    0.2879
4    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [37]:
bikes[[0]]

KeyError: ignored

In [38]:
bikes[0]

KeyError: ignored

In [39]:
bikes[0,0]

KeyError: ignored

In [40]:
bikes[[0,0]]

KeyError: ignored

What is the correct way to access the 1st row of the DataFrame by its index?

In [50]:
#ANSWER
bikes.loc[0]

instant                1
dteday        2011-01-01
season                 1
yr                     0
mnth                   1
hr                     0
holiday                0
weekday                6
workingday             0
weathersit             1
temp                0.24
atemp             0.2879
hum                 0.81
windspeed            0.0
casual                 3
registered            13
cnt                   16
Name: 0, dtype: object

What is the correct way to access the 2nd column of the DataFrame by its index?

In [47]:
#ANSWER
bikes.iloc[:, 1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

In [48]:
second_column = bikes.iloc[:, 1]
print(second_column)

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

In [49]:
second_column = bikes['dteday']
print(second_column)

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

* isnull() function in pandas is used to identify and detect missing or null values in a DataFrame or a Series
* It returns a boolean mask where True indicates a null value and False indicates a non-null value
* The main purposes of isnull() are to determine missing values and facilitate data cleaning and preprocessing
* It helps in identifying cells with missing values in the dataset
* The function is useful for handling missing values by applying strategies like imputation or removal
* isnull() can be used on a DataFrame or a Series object
* It can be used to check for missing values in specific columns or the entire dataset
* The function can also be combined with other methods like sum() to count the number of missing values in each column
* Rows with missing values can be removed using the dropna() method

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [51]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [53]:
#ANSWER
null_count = bikes.isnull().sum().sum()
print(null_count)

0

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [54]:
#ANSWER
columns_with_nulls = bikes.columns[bikes.isnull().any()]
print(columns_with_nulls)

Index([], dtype='object')

In [56]:
columns_with_nulls = bikes.columns[bikes.isnull().any()].tolist(); columns_with_nulls

[]

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER:

* NumPy object nan stands for "Not a Number" and is used to represent missing or undefined values in numeric arrays
* It is a special floating-point value that indicates the absence of a numerical value
* nan is commonly used in scientific computing and data analysis to handle missing data or elements that cannot be defined numerically
* It allows for consistent treatment of missing values across various mathematical and statistical operations
* Operations involving nan propagate the nan result, which helps in identifying and handling missing data in calculations
* nan values can be identified using functions like isnan() in NumPy
* It is important to handle nan values appropriately, such as by removing or replacing them, to avoid potential issues in data analysis and modeling

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [57]:
#ANSWER
def safe_scalar_division(dividend, divisor, default_value=0):
    try:
        result = dividend / divisor
    except ZeroDivisionError:
        result = default_value
    return result

Apply the Pandas `isna` function to the following data objects:

In [58]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [59]:
#ANSWER
import pandas as pd
import numpy as np

x = 2.3
y = np.nan

print(pd.isna(x))  # Output: False
print(pd.isna(y))  # Output: True

False
True

In [ ]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

In [60]:
#ANSWER
import pandas as pd
import numpy as np

array = np.array([[1, np.nan, 3], [4, 5, np.nan]])

print(pd.isna(array))  # Output:

[[False  True False]
 [False False  True]]

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [61]:
#ANSWER
seasons_count = bikes['season'].nunique()
print(seasons_count)

4

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [62]:
#ANSWER

Compute and print the overall minimum and maximum of the numeric data columns:

In [64]:
bikes_min, bikes_max = (min(bikes.min()), max(bikes.max()))
bikes_min, bikes_max

TypeError: ignored

In [65]:
numeric_columns = bikes.select_dtypes(include=[np.number])
bikes_min = numeric_columns.min().min()
bikes_max = numeric_columns.max().max()

print(bikes_min, bikes_max)

0.0 17379.0

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [66]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [67]:
#ANSWER
percentiles = bikes.quantile([0.1, 0.25, 0.5, 0.75, 0.9])
print(percentiles)

      instant  season   yr  mnth    hr  holiday  weekday  workingday  \
0.10   1738.8     1.0  0.0   2.0   2.0      0.0      0.0         0.0
0.25   4345.5     2.0  0.0   4.0   6.0      0.0      1.0         0.0
0.50   8690.0     3.0  1.0   7.0  12.0      0.0      3.0         1.0
0.75  13034.5     3.0  1.0  10.0  18.0      0.0      5.0         1.0
0.90  15641.2     4.0  1.0  11.0  21.0      0.0      6.0         1.0

      weathersit  temp   atemp   hum  windspeed  casual  registered    cnt
0.10         1.0  0.24  0.2424  0.37     0.0000     1.0         7.0    9.0
0.25         1.0  0.34  0.3333  0.48     0.1045     4.0        34.0   40.0
0.50         1.0  0.50  0.4848  0.63     0.1940    17.0       115.0  142.0
0.75         2.0  0.66  0.6212  0.78     0.2537    48.0       220.0  281.0
0.90         2.0  0.74  0.6970  0.88     0.3582    92.0       354.0  451.2

<ipython-input-67-65786ba74c4a>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentiles = bikes.quantile([0.1, 0.25, 0.5, 0.75, 0.9])

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [68]:
type(bikes['atemp'])

pandas.core.series.Series

In [69]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
3620,3621,2011-06-04,2,0,6,18,0,6,0,2,0.74,0.6515,0.30,0.1642,127,214,341
3558,3559,2011-06-02,2,0,6,4,0,4,1,1,0.66,0.6212,0.41,0.1940,0,3,3
12789,12790,2012-06-22,3,1,6,2,0,5,1,1,0.74,0.7121,0.79,0.0000,0,12,12
6476,6477,2011-10-02,4,0,10,10,0,0,0,2,0.36,0.3333,0.71,0.2836,60,188,248
9279,9280,2012-01-27,1,1,1,13,0,5,1,1,0.50,0.4848,0.59,0.4627,26,175,201

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [70]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [75]:
#ANSWER
atemp_level = pd.cut(bikes['atemp'], bins=4)
print(atemp_level.value_counts())

(0.25, 0.5]       7507
(0.5, 0.75]       7223
(-0.001, 0.25]    1952
(0.75, 1.0]        697
Name: atemp, dtype: int64

Here is a random sample of `atemp_level`:

In [72]:
atemp_level.sample(5)

11700    (0.5, 0.75]
12664    (0.5, 0.75]
8201     (0.25, 0.5]
9327     (0.25, 0.5]
3843     (0.5, 0.75]
Name: atemp, dtype: category
Categories (4, interval[float64, right]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [73]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

9278     mild
14866    warm
6548     warm
6869     warm
6297     warm
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [76]:
#ANSWER
import pandas as pd

# Create the atemp_level column using pd.cut()
bikes['atemp_level'] = pd.cut(bikes['atemp'], bins=4)

# Count the number of "mild" atemp entries in season 2
count_mild = bikes[(bikes['atemp_level'] == 'mild') & (bikes['season'] == 2)].shape[0]

print(count_mild)

0

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [77]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

## Load Data

Load rock.csv and clean the dataset.

In [79]:
# ANSWER

import pandas as pd

rock = pd.read_csv("rock.csv")

print(rock.head())

               Song Clean ARTIST CLEAN Release Year  \
0        Caught Up in You  .38 Special         1982
1            Fantasy Girl  .38 Special          NaN
2         Hold On Loosely  .38 Special         1981
3  Rockin' Into the Night  .38 Special         1980
4       Art For Arts Sake         10cc         1975

                                COMBINED  First?  Year?  PlayCount  F*G
0        Caught Up in You by .38 Special       1      1         82   82
1            Fantasy Girl by .38 Special       1      0          3    0
2         Hold On Loosely by .38 Special       1      1         85   85
3  Rockin' Into the Night by .38 Special       1      1         18   18
4              Art For Arts Sake by 10cc       1      1          1    1

## Check Column Names

Check column names and clean.

In [80]:
# ANSWER
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

## Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [81]:
# ANSWER
rock.fillna(0, inplace=True)

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [84]:
# ANSWER
rock.dtypes

Song Clean      object
ARTIST CLEAN    object
Release Year    object
COMBINED        object
First?           int64
Year?            int64
PlayCount        int64
F*G              int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [85]:
# ANSWER
rock.describe()

       First?        Year?    PlayCount          F*G
count  2230.0  2230.000000  2230.000000  2230.000000
mean      1.0     0.741256    16.872646    15.048430
std       0.0     0.438043    25.302972    25.288366
min       1.0     0.000000     0.000000     0.000000
25%       1.0     0.000000     1.000000     0.000000
50%       1.0     1.000000     4.000000     3.000000
75%       1.0     1.000000    21.000000    18.000000
max       1.0     1.000000   142.000000   142.000000

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [90]:
# ANSWER
def print_song_info(row):
    song = row['Song Clean']
    artist = row['ARTIST CLEAN']
    release_year = row['Release Year']
    
    print(f"Song: {song}")
    print(f"Artist: {artist}")
    
    if release_year < 1970:
        print("Release Date: Before 1970")
    else:
        print("Release Date: After 1970")

### Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [91]:
# ANSWER
import numpy as np

def convert_to_float(df):
    converted_df = df.apply(pd.to_numeric, errors='coerce')
    converted_df = converted_df.astype(float)
    converted_df = converted_df.replace({0: np.nan})
    return converted_df

### Apply these functions to your dataset

In [96]:
# ANSWER


def print_song_info(row):
    song = row['Song Clean']
    artist = row['ARTIST CLEAN']
    release_year = pd.to_numeric(row['Release Year'], errors='coerce')
    
    print(f"Song: {song}")
    print(f"Artist: {artist}")
    
    if release_year < 1970:
        print("Release Date: Before 1970")
    else:
        print("Release Date: After 1970")

print_song_info(rock.loc[0])

Song: Caught Up in You
Artist: .38 Special
Release Date: After 1970

In [93]:
converted_rock = convert_to_float(rock)

### Describe the new float-only DataFrame.

In [95]:
# ANSWER
converted_rock.describe()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
count,2.000000,0.0,1652.000000,0.0,2230.0,1653.0,2228.000000,1652.000000
mean,1012.000000,NaN,1978.019976,NaN,1.0,1.0,16.887792,20.313559
std,1367.544515,NaN,24.191247,NaN,0.0,0.0,25.309276,27.502123
min,45.000000,NaN,1071.000000,NaN,1.0,1.0,1.000000,1.000000
25%,528.500000,NaN,1971.000000,NaN,1.0,1.0,1.000000,2.000000
50%,1012.000000,NaN,1977.000000,NaN,1.0,1.0,4.000000,7.000000
75%,1495.500000,NaN,1984.000000,NaN,1.0,1.0,21.000000,28.000000
max,1979.000000,NaN,2014.000000,NaN,1.0,1.0,142.000000,142.000000

>



---



---



> > > > > > > > > © 2023 Institute of Data


---



---